@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #000;
}

#hora {
  display: flex;
  align-items: end;
  font-size: 100px;
  font-family: "Orbitron", sans-serif;
  background-color: rgb(50, 50, 50);
  padding: 0 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 3px solid rgb(100, 100, 100);
}

.footer-creditos {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #fff;
  padding: 0 50px;
  height: 70px;
  width: 100%;
  background-color: rgb(50, 50, 50);
}

.creditos-redes-sociais a{
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  transition: .3s;
  padding: 5px;
}

.creditos-redes-sociais a:hover{
  font-size: 30px;
  transition: .3s;
}

.creditos-redes-sociais a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.creditos-redes-sociais a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}